<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<base href='/static/decompoenergy/de_login/'>
<title>Decompoenergy Login</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Auditions Registration Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- //custom-theme -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Anton&amp;subset=latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
	<script>
        {% for message in messages %}
            alert('{{ message }}');
        {% endfor %}
    </script>
<!-- banner -->
	<div class="center-container">
	<div class="banner-dott">
		<div class="main">
			<h1 class="w3layouts_head">DECOMPOENERGY LOGIN FORM</h1>
				<div class="w3layouts_main_grid">
					<form action="/de_validate_login/" method="POST" class="w3_form_post">
						{% csrf_token %}
						
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid" style="display: flex; align-items: center;">
								<label style="margin-right: 10px;">Email </label>
								<input type="text" name="email" placeholder="Email" required="" autocomplete="off" style="width: 300px;">
							</span>
						</div>
						
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid" style="display: flex; align-items: center;">
								<label style="margin-right: 10px;">Password </label>
								<div style="position: relative; display: inline-block;">
									<input type="password" name="password" placeholder="Password" required="" autocomplete="off" style="width: 300px;">
									<span onclick="togglePasswordVisibility()" style="color:white; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
										&#128065; <!-- Eye icon -->
									</span>
								</div>
							</span>
						</div>
						
						<center><div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<input type='submit' value="LOGIN"><br>
						</div>
						</div></center>
					</form>
				<center><div class="w3_main_grid">
					<div class="w3_main_grid_right">
						<a href="/de_reg/"><p style="color:white;">Don't have an account?</p><input type="submit" value="REGISTER"><br></a>
					</div>
				</div></center>


                <center><div class="w3_main_grid">
					<div class="w3_main_grid_right">
						<a href="/"><input type="submit" value="BACK"><br></a>
					</div>
				</div></center>
		</div>
	</div>
	</div>
<!-- //footer -->

<script>
    function togglePasswordVisibility() {
        const passwordInput = document.querySelector('input[name="password"]');
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
</script>
</body>
</html>