<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
{% load static %}
<html lang="en">

<head>
    <base href="/static/fluroscan/fluroscanhome/">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fluroscan Home</title>
    <!-- google font -->
    <link
        href="//fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
</head>

<body>
    <!-- header -->
    <script>
        {% for message in messages %}
            alert('{{ message }}');
        {% endfor %}
    </script>
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/fluroscanhome/">
                    <i></i>FLUROSCAN <span></span>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/fluroscanhome/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fs_req/">FLUROSCAN REQUIREMENTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fs_analyze/">FLUROSCAN ANALYZE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fs_report/">FLUROSCAN REPORT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fs_logout/">LOGOUT</a>
                        </li>
                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!-- //header -->

    <!-- hero slider Start -->
    <div class="banner-wrap">
        <div class="banner-slider">
            <!-- hero slide start -->
            <div class="banner-slide bg1">
                <div class="container">
                    <div class="hero-content">
                        <p class="mb-2"></p>
                        <h1>
                            Revolutionizing fluorine recovery and utilization</h1>
                        <div class="cta-btn">
                            <a href="/fluroscanhome/" class="btn btn-style btn-primary">HOME</a>
                        </div>
                    </div>
                </div>
                <div class="hero-overlay"></div>
            </div>
            <!-- hero slide end -->
        </div>
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 280">
                <path fill-opacity="1">
                    <animate attributeName="d" dur="20000ms" repeatCount="indefinite"
                        values="M0,160L48,181.3C96,203,192,245,288,261.3C384,277,480,267,576,234.7C672,203,768,149,864,117.3C960,85,1056,75,1152,90.7C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z; M0,160L48,181.3C96,203,192,245,288,234.7C384,224,480,160,576,133.3C672,107,768,117,864,138.7C960,160,1056,192,1152,197.3C1248,203,1344,181,1392,170.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z;												 M0,64L48,74.7C96,85,192,107,288,133.3C384,160,480,192,576,170.7C672,149,768,75,864,80C960,85,1056,171,1152,181.3C1248,192,1344,128,1392,96L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z;
                                                 M0,160L48,181.3C96,203,192,245,288,261.3C384,277,480,267,576,234.7C672,203,768,149,864,117.3C960,85,1056,75,1152,90.7C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z;" />

                </path>
            </svg>
        </div>
    </div>
    <!-- hero slider end -->

 <!-- testimonials -->
    <section class="w3l-clients py-5" id="testimonials">
        <div class="container pt-md-5 pt-4">
            <div class="row w3-testimonial-grids align-items-center">
                <div class="col-lg-6 w3-testimonial-content-top pr-lg-5">
                    <div class="position-relative mb-lg-4 mb-sm-2 mb-4">
                        <h3 class="title-style">ABOUT FLUROSCAN</h3>
                        <div class="title-paw-style">
                          
                        </div>
                    </div>
                    <div id="owl-demo1" class="owl-carousel owl-theme py-sm-2 mb-4">
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>FluorScan is pioneering the future of fluorine recovery, offering advanced solutions that transform waste into valuable resources. Our innovative approach captures fluorine from various materials, ensuring sustainable utilization in industrial processes. We aim to reduce environmental impact while enhancing resource efficiency..</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        
                             <div class="peopl align-self">
                                           
                                        </div> 
                             </div>
                                </div>
                            </div>
                        </div>  
                    <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>By utilizing cutting-edge technology, FluorScan enables precise extraction and purification of fluorine from everyday products. Our methods cater to industries ranging from aluminum manufacturing to metal pickling, delivering high-quality recovered fluorine for diverse applications. We are committed to creating a circular economy for fluorine.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        
                                        <div class="peopl align-self">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                       <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>Our solutions are designed to help companies meet regulatory requirements and improve operational sustainability. FluorScan's process not only reduces harmful emissions but also recovers critical elements from waste streams. This approach aligns with global environmental standards and supports sustainable development goals.
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        
                                        <div class="peopl align-self">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>At FluorScan, we believe in shaping a cleaner, smarter future by making the most of what the world already has. Our mission is to drive innovation in fluorine recovery, making it accessible and impactful across industries, for a sustainable and prosperous tomorrow.</q>
                                    </blockquote>
                                    <div class="testi-des">
                                        
                                        <div class="peopl align-self">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                     </div>
                </div>
                <div class="col-lg-6 position-relative ps-lg-5 mt-lg-0 mt-5 pt-lg-0 pt-sm-4">
                    <img src="assets/images/fluroscan1.jpg" alt="" class="radius-image img-fluid">
                </div>
            </div>
        </div>
    </section> 
    <!-- //testimonials -->


    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- tesimonials carousel slider -->
    <script src="assets/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                nav: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    736: {
                        items: 1,
                        nav: false
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->

    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->

    <!-- theme switch js (light and dark)-->
    <script src="assets/js/theme-change.js"></script>
    <!-- //theme switch js (light and dark)-->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!-- bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap -->
    <!-- //Js scripts -->
</body>

</html>